*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Helvetica Neue, Arial;
    font-size:18px;
}

h1,h2{
    color:#137113;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
    
}

h1{
    
    font-size:50px;
    margin-bottom:20px;
}

h2{
    font-size:25x;
    margin-bottom:20px;
}

p {
    font-size:18px;
    text-align:justify;
}

.main-text{
    text-align:justify;
}

.author-text{
    font-size:22px;
    float:left;
    margin-top:50px;
    margin-left:5px;
}
.container {
    width:1140px;    
    margin:20 auto 0 auto;
}

.blog-post {
   
    width:75%;
    float:left;
    padding-right:30px;
    position:relative;
}

.other-post {
    
    width:25%;
    float:left;
    margin-top:20px;
 

}

.author-box {

    border-top:1px solid #3b3939;
    padding-top:20px;
    margin-top:10px;
}

.author-text{
    font-size:15px;
    color:#747474;
 
}

.other {
    margin-top:40px;
}

.author-box img{
    height:100px;
    width:100px;
    border-radius:50%;
    float:left;
}

.date {
    position:absolute;
    top 0;
    right:0;
    margin-right:30px;
    margin-top:10px;
}
